<table style="widtd:100%">
  <tr>
   <td>Title</td>
   <td>Price</td>
   <td>Category</td>
 </tr>
 <% @products.each do |product| %>
 <tr>
   <td><%= product.title %></td>
   <td><%= product.price %></td>
   <td><%= product.category.try(:title) %></td>
   <td><%= link_to "Title", product_path(product) %>
 </tr>
<% end %>
